<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        body {
            background: url('{{ url_for('static', filename='img/cab-1.jpg') }}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container" style="height: 100%; margin-top: 10%">
        <img src="{{ url_for('static', filename='img/iiit-logo.gif') }}" style="height:100px; margin: auto; display: block;">
        <h1 class="text-center" style="color: white;">International Institute of Information Technology, Hyderabad</h1>
        <h2 class="text-center font-italic" style="color: white; margin-bottom: 1em;">Cab Portal</h2>
        <h2 class="text-center" style="color: white;">404 Page Not Found</h2>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>